[submodule "forte_app_examples"]
	path = forte_app_examples
	url = https://github.com/alekseym/forte_app_examples.git
[submodule "forte/src/modules/abot/rapidjson"]
	path = forte/src/modules/abot/rapidjson
	url = https://github.com/Tencent/rapidjson.git
